html {
    cursor: url('images/pencil.svg') 0 24, pointer;
}

body, html {
    height: 100%;
    margin: 0;
    text-align: center;
}

h2, label, a {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
}

button {
    border-radius: 8px;
}

form {
    display: inline-block;
}

.background-photo {
    background-image: url("images/school.jpg");
    height: 100%;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

.form-container {
    border: 5px inset #834702;
    right: 0;
    margin: 110px;
    max-width: 300px;
    padding: 16px;
    border-radius: 8px;
    background-color: white;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 6px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    cursor: url('images/pencil.svg') 0 24, pointer;
}

a, label, #recover, #login, #student, #teacher {
    cursor: url('images/pencil.svg') 0 24, move;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.margin-20 {
    margin: 20px;
}

#selection {
    font-size: 15px;
    font-weight: 600;
}

button:hover {
    opacity: 0.7;
    background-color: red;
    color: black;
    cursor: url('images/pencil.svg') 0 24, pointer;
}