:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

body {
    color: black;
    background: #FFFDE7;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #071d3700;
}

.content {
    height: auto;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1, p {
    color: black;
}

main {
    margin-left: 5rem;
    padding: 1rem;
    user-select: none;
}

svg {
    fill: white;
    transition: var(--transition-speed);
}

.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item {
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary)
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navbar:hover {
    width: 16rem;
}

.navbar:hover .link-text {
    display: block;
    color: white;
}

.logo {
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg {
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

.topright {
    position: absolute;
    top: 0px;
    right: 12px;
    font-size: 18px;
}

/*small screens*/

@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
        z-index: 2;
    }
    .logo {
        display: none;
    }
    .navbar-nav {
        flex-direction: row;
    }
    .nav-link {
        justify-content: center;
    }
    main {
        margin: 0;
    }
    #table-style {
        overflow: scroll;
    }
    .input-box {
        overflow: hidden;
        width: auto;
    }
}

/*larger screens*/

@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }
    .navbar:hover {
        width: 16rem;
    }
    .navbar:hover .link-text {
        display: inline;
    }
    .navbar:hover .logo-text {
        left: 0px;
    }
}

.background-color {
    background: #FFFDE7;
    height: 100%;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#title {
    text-align: center;
}

footer {
    color: white;
    text-align: center;
    padding: 1px;
    margin-left: -20px;
    background-color: #23232e;
    position: relative;
    width: 100%;
    bottom: 0;
}

#footer {
    color: white;
}

#logo-footer {
    margin-top: 10px;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

#photo-table {
    display: inline-block;
}

#github, #facebook {
    fill: black;
}

#logo-footer:hover {
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
}

.people {
    gap: 5px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

@keyframes bounce {
    0%, 100%, 20%, 50%, 80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

.button-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.button-item {
    --c: goldenrod;
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 18em;
    height: 5em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Open Sans';
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
    padding-top: 10%;
}

.button-item .btn {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.button-item:hover {
    color: black;
}

.button-item:hover .btn {
    transform: translateY(0) scale(2);
}

.button-item .btn:nth-child(1) {
    --n: 1;
}

.button-item .btn:nth-child(2) {
    --n: 2;
}

.button-item .btn:nth-child(3) {
    --n: 3;
}

.button-item .btn:nth-child(4) {
    --n: 4;
}

.button-info {
    text-align: left;
    font-family: 'Open Sans';
    list-style-image: url('SVG/arrow.svg');
}

.button-text {
    text-align: center;
}

.button-app {
    text-decoration: none;
}

.row {
    margin: 0 -5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    border-radius: 5px;
}

.card-blue {
    background-color: #439FF0;
}

.card-light {
    background-color: #A7DE1F;
}

.card-orange {
    background-color: #DE4F1F;
}

.card-purple {
    background-color: #A11FDE;
}

.content-center {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* STYLE FOR THE TABLE */

#table-style {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#table-style td, #customers th {
    border: 1px solid #c5c3c3;
    padding: 8px;
}

#table-style tr:nth-child(even) {
    background-color: #f2f2f2;
}

#table-style tr:hover {
    background-color: #ddd;
}

#table-style th {
    padding-left: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #187390;
    color: white;
}

/* BUTTONS */

.button-style {
    color: white;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    border-radius: 8px;
}

.btn-pencil {
    cursor: url('images/pencil.svg') 0 24, pointer;
}

.btn-pencil:hover {
    cursor: url('images/pencil.svg') 0 24, pointer;
}

.btn-full {
    display: block;
    width: 100%;
}

.btn-small {
    padding: 5px 10px;
    font-size: 13px;
}

.btn-medium {
    padding: 10px 13px;
    font-size: 15px;
}

.btn-large {
    padding: 15px 23px;
    font-size: 17px;
}

.btn-green {
    background-color: #4CAF50;
}

.btn-green:hover {
    background-color: #307433;
}

.btn-red {
    background-color: #af4c4c;
}

.btn-red:hover {
    background-color: #6d2d2d;
}

.btn-yellow {
    background-color: #dac031;
}

.btn-yellow:hover {
    background-color: #75681a;
}

.btn-cyan {
    background-color: #378e99;
}

.btn-cyan:hover {
    background-color: #2e747e;
}

.color-red {
    color: red;
}

#mail {
    color: white;
    text-decoration: none
}

#thick-logo {
    fill: black;
}

#presence {
    width: fit;
}

.input-box {
    position: relative;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: auto;
}

.input-box h2 {
    font-size: 28px;
    color: #333;
}

.input-box input {
    position: relative;
    width: 100%;
    height: 60px;
    border: none;
    margin: 15px 0 20px;
    background: transparent;
    outline: none;
    padding: 0 20px;
    font-size: 24px;
    letter-spacing: 4px;
    box-sizing: border-box;
    border-radius: 8px;
    color: #333;
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 1), inset 4px 4px 10px rgba(0, 0, 0, 0.25), inset -4px -4px 10px rgba(255, 255, 255, 1), 4px 4px 10px rgba(0, 0, 0, 0.25);
}

.input-box input:placeholder {
    letter-spacing: 0px;
}

.input-box #generate-btn {
    position: relative;
    cursor: pointer;
    color: #fff;
    background: #333;
    font-size: 24px;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
}

.input-box #generate-btn:active {
    background: #187390;
}